:root {
  font-family: "Roboto", sans-serif;

  --orange: #d2872c;
  --gray: #766f68;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.allContent {
  width: 1440px;
  height: 1024px;
}


header {
  display: flex;
  width: 1440px;
  margin-top: 2rem;
}

header > h2 {
  width: 60%;
  margin-left: 4rem;

  font-size: 3em;
  color: var(--orange);
  letter-spacing: 1px;
}

#menuDesktop {
  width: 40%;
}

ul {
  display: flex;
  gap: 4rem;
  margin-top: 2.5rem;
}

#menuDesktop > ul li {
  color: var(--gray);
  font-size: 1.8em;
  list-style: none;
}

#menuMobile{
  display: none;
}


main {
  display: flex;
}

.text {
  margin-top: 2rem;
  margin-left: 8rem;
}

.text > h1 {
  color: var(--gray);
  font-size: 4.5em;
}

.text > h3 {
  color: var(--gray);
  font-weight: 100;
  font-size: 2em;
}

.imagem > img {
  float: right;
  margin: 8rem 3rem 0rem 0rem;
  height: 500px;
  width: 720px;
}

#startNow {
  align-content: center;
  text-align: center;
  background-color: var(--orange);

  border-radius: 15px;
  border: solid 2px #dd4205;

  height: 70px;
  width: 340px;
  margin-top: 2.5rem;
}

button {
  color: #ffffff;
  font-size: 1.8em;
  font-weight:900;
  text-decoration: none;
}

a:hover > #startNow{
  background-color: #ff3c00;
}

