:root {
  font-family: "Roboto", sans-serif;

  --orange: #d2872c;
  --gray: #766f68;
}

body {
  display: flex;
}

.allContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  width: 100vw;
}

header > h2 {
  width: 60%;
  font-size: 2em;
  color: var(--orange);
  letter-spacing: 1px;
}

header > nav {
  width: 40%;
}

ul {
  display: flex;
}

nav > ul li {
  list-style: none;
}

main {
  width: 99vw;
  height: 99vh;  
}

main > img {
  float: right;
  height: 600px;
  width: 820px;
}
