:root {
  font-family: "Roboto", sans-serif;

  --orange: #d2872c;
  --gray: #766f68;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.allContent {
  width: 1440px;
  height: 1024px;
}

header {
  display: flex;
  width: 1440px;
  margin-top: 2rem;
}

header > h2 {
  width: 60%;
  margin-left: 4rem;

  font-size: 3em;
  color: var(--orange);
  letter-spacing: 1px;
}

header > nav {
  width: 40%;
}

ul {
  display: flex;
  gap: 4rem;
  margin-top: 2.5rem;
}

nav > ul li {
  color: var(--gray);
  font-size: 1.8em;
  list-style: none;
}

main {
  display: flex;
}

.text {
  margin-top: 2rem;
  margin-left: 8rem;
}

.text > h1 {
  color: var(--gray);
  font-size: 4.5em;
}

.text > h3 {
  color: var(--gray);
  font-weight: 100;
  font-size: 2em;
}

.imagem > img {
  float: right;
  margin: 8rem 3rem 0rem 0rem;
  height: 500px;
  width: 720px;
}

#startNow {
  align-content: center;
  text-align: center;
  background-color: var(--orange);

  border-radius: 10px;
  border: solid 1px #dd4205;

  height: 45px;
  width: 340px;
  padding-top: 1rem;
}

#startNow > a {
  color: #ffffff;
  font-size: 1.8em;
  text-decoration: none;
}

